@model Product

<div class="col-sm-4 col-lg-md-4">
    <div class="thumbnail">
        <img src="@Model.Image" alt="">
        <div class="caption">
            <h4 class="pull-right">Price: £ @Model.Price </h4>
            <h4>
                <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.ProductId">@Model.Name</a>
            </h4>
            <p>About product: @Model.Description .</p>
        </div>
        <div class="addToCart">
            <p class="button">
               <a class="btn btn-primary"
                  asp-controller="ShoppingCart"
                  asp-action="AddToShoppingCart"
                  asp-route-productId="@Model.ProductId">Add to cart</a>
            </p>
        </div>
    </div>
</div>